$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$black-1: #000;
$black-2: #331303;
$black-3: rgba(45, 43, 57, 0.2);
$grey-1: #777777;
$pink-1: #ffa49f;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #ffcd75;
$yellow-5: rgba(255, 170, 18, 0.72);
$yellow-6: #fce07f;
$yellow-7: #fcdc6c;
$green-1: rgba(18, 171, 15, 1);
$green-2: #4de0c5;
$blue-1: #399ffe;
$blue-2: #3081cb;
$blue-3: #4f98f0;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$orange-4: #ffa000;
$red-1: #d22b23;
$purple-1: #f051cd;
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);
